<a href="https://colab.research.google.com/github/saivarun4/Classification-Projects-Logistic-Regression/blob/main/Student_Marks_Classification_and_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###1) Importing Various Libraries

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

###2) Creating a Datframe of the Dataset using pandas library

In [ ]:
df = pd.read_csv( 'student_data.csv' )
df

   Name  Marks  Result
0     A     25       0
1     B     67       1
2     C     89       1
3     D     56       1
4     E     23       0
5     F     12       0
6     G     78       1
7     H     13       0
8     I     45       1
9     J     39       0
10    K     67       1
11    L     78       1
12    M     90       1
13    N     98       1
14    O     32       0
15    P     31       0
16    Q     94       1
17    W      3       0
18    E      4       0
19    R      8       0
20    T     10       0
21    Y     18       0
22    Z     98       1
23    S     71       1
24    C     23       0
25    V     39       0
26   NM     21       0
27   NB     69       1
28   TI     89       1

In [ ]:
x = np.array( df[ [ 'Marks' ] ] )
x

array([[25],
       [67],
       [89],
       [56],
       [23],
       [12],
       [78],
       [13],
       [45],
       [39],
       [67],
       [78],
       [90],
       [98],
       [32],
       [31],
       [94],
       [ 3],
       [ 4],
       [ 8],
       [10],
       [18],
       [98],
       [71],
       [23],
       [39],
       [21],
       [69],
       [89]])

In [ ]:
y = np.array( df[ [ 'Result' ] ] )
y

array([[0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1]])

###3) Splitting the Data into train data and test data

In [ ]:
x_train, x_test, y_train, y_test = train_test_split( x, y, random_state = 104, test_size = 0.2 )

###4) Preparing a Model using library

In [ ]:
model = LogisticRegression(  )
model.fit( x_train, y_train )
y_pred = model.predict( x_test )
y_pred = y_pred.reshape( -1 , 1 )

/usr/local/lib/python3.10/dist-packages/sklearn/utils/validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

###5) Model Evaluation

In [ ]:
s = model.score( y_pred, y_test )
print( s )

0.6666666666666666

###6) Taking input from the user and predicting

NOTE:

According to predictions 43 is obtained as the minimum passing mark.

In [ ]:
inp = np.array(int(input( 'Enter the marks of the student: ' ))).reshape( -1 , 1 )
pred = model.predict( inp )
print( '\n\nResult:' )
for i in pred:
  if i == 0:
    print( 'Candidate Failed !!!' )
  else:
    print( 'Candidate Passed !!!' )

Enter the marks of the student: 78


Result:
Candidate Passed !!!